*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  padding: 30px 0px;
  background-color: #dae1ed;
  display: flex;
  justify-content: center;
}
.screen-1{
  width: 350px;
  height: 600px;
  background-color: #001F3F;
  border-radius: 30px;
  flex-direction: column;
  display: flex;      
}

.opening{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
button{
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  width: 50%;
  align-self: center;
  background-color: #FFD700;
}
.forms{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
span{
  font-size: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
input{
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}
button.nextBtn{
  border-radius: 10px;
  border: none;
  padding: 15px 50px;
  width: 50%;
  align-self: center;
  cursor: pointer;
}

.screen-2{
  width: 350px;
  height: 600px;
  background-color: #001F3F;
  border-radius: 30px;
  flex-direction: column;
  display: flex;      
}
.dropdown-menu{
  align-self: center;
  background-color: #FFD700;
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}
select{
  height: 20px;
}