*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover{
  color: #030d4f;
}

header{
  position: relative;
  padding: 0 2rem;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn{
  background-color: #030d4f;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
}

.action-btn:hover{
  scale: 1.0s;
  color: #fff;
}

.action-btn:active{
  scale: 0.5s;
}

@media(max-width:932px) {
  .navbar .links,
  .navbar .action-btn{
    display: none;
  }

  .navbar .toggle-btn{
    display: block;
  }
  .dropdown-menu{
    display: block;
  }
}

/* dropdown*/
.dropdown-menu{
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.27);
}

.dropdown-menu li{
  padding: 0.7rem;display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
.dropdown-menu .open{
  height: 240px;
}
      .loan{
      background-color: rgb(81, 80, 80);
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 300px;
      border-radius: 20px;
      height: 500px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .calcio{
      background-color: #0a3300;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 300px;
      border-radius: 20px;
      height: 500px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .investS{
      background-color: red;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 300px;
      border-radius: 20px;
      height: 500px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .retireS{
      background-color: green;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 300px;
      border-radius: 20px;
      height: 500px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 10px;
      column-gap: 10px;
    }
    
  